Repository KomodoPlatform/komodo-wallet, pull requests merged in 2021-06, with the labels that each got.

#974 Enhance trading view loading
  atomic_defi_design/qml/Components/DexTradeBox.qml
  atomic_defi_design/qml/Exchange/Trade/Trade.qml
  atomic_defi_design/qml/Exchange/Trade/Trading/TradeViewHeader.qml
  qml.qrc
Labels: 0.5.0, P0

#1000 feat(dex): rework buy side
  atomic_defi_design/assets/languages/atomic_defi_en.ts
  atomic_defi_design/assets/languages/atomic_defi_fr.ts
  atomic_defi_design/assets/languages/atomic_defi_ru.ts
  atomic_defi_design/assets/languages/atomic_defi_tr.ts
  atomic_defi_design/qml/Constants/General.qml
  src/core/atomicdex/pages/qt.trading.page.cpp
  src/core/atomicdex/pages/widgets/dex/qt.orderbook.cpp
Labels: 0.5.0, full-stack, impact_pro_view, impact_trading

#1006 fix(addressbook): Hot fixes
  atomic_defi_design/qml/Wallet/AddressBookAddContactAddressModal.qml
Labels: 0.5.0, full-stack, impact_addressbook

#1015 feat(parent_chain): clarify parent chain text
  atomic_defi_design/qml/Constants/General.qml
  atomic_defi_design/qml/Exchange/Trade/SimpleView/Trade.qml
  src/core/atomicdex/models/qt.global.coins.cfg.model.cpp
  src/core/atomicdex/models/qt.global.coins.cfg.model.hpp
Labels: 0.5.0, full-stack, impact_trading, impact_translations

#1026 fix(trading): Simple view align stuff
  atomic_defi_design/qml/Exchange/Trade/SimpleView/SubHistory.qml
  atomic_defi_design/qml/Exchange/Trade/SimpleView/SubOrders.qml
  atomic_defi_design/qml/Exchange/Trade/SimpleView/Trade.qml
Labels: simple_view

#1009 patch RU translation
  atomic_defi_design/assets/languages/atomic_defi_ru.ts
Labels: 0.5.0, Front-end, impact_translations

#1039 fix(max_taker_vol): fees show behaviour
  atomic_defi_design/assets/languages/atomic_defi_en.ts
  atomic_defi_design/assets/languages/atomic_defi_fr.ts
  atomic_defi_design/qml/Exchange/Trade/SimpleView/Trade.qml
  src/core/atomicdex/api/mm2/rpc.max.taker.vol.cpp
  src/core/atomicdex/pages/qt.trading.page.cpp
  src/core/atomicdex/services/mm2/mm2.service.cpp
Labels: 0.5.0, full-stack, impact_pro_view, impact_simple_view, impact_trading, impact_translations, impact_ux

#1037 fix(trading): Min selector confusing
  atomic_defi_design/qml/Components/DefaultRangeSlider.qml
  atomic_defi_design/qml/Components/DexRangeSlider.qml
  atomic_defi_design/qml/Components/HelpModal.qml
  atomic_defi_design/qml/Exchange/Trade/ProView.qml
  atomic_defi_design/qml/Exchange/Trade/TradeBox/OrderForm.qml
  qml.qrc
Labels: 0.5.0, impact_pro_view, impact_trading, impact_ux

#1033 Filtering enhance
  atomic_defi_design/qml/Exchange/Trade/Orders/OrdersPage.qml
  atomic_defi_design/qml/Exchange/Trade/SimpleView/SubHistory.qml
  atomic_defi_design/qml/Exchange/Trade/SimpleView/SubOrders.qml
  atomic_defi_design/qml/Exchange/Trade/TradeBox/OrderForm.qml
Labels: 0.5.0, impact_pro_view, impact_simple_view, impact_ux

#1050 feat(orders): position filter infos in the row
  atomic_defi_design/qml/Exchange/Trade/Orders/OrdersPage.qml
Labels: 0.5.0, impact_pro_view, impact_ux
