Repository KomodoPlatform/komodo-wallet, pull requests merged in 2021-07, with the labels that each got.

#1062 feat(buy_logic): fix buy logic
  src/core/atomicdex/pages/qt.trading.page.cpp
Labels: P0, impact_pro_view, impact_trading

#1069 feat(simple_view): change best orders filtering
  src/core/atomicdex/models/qt.orderbook.model.cpp
  src/core/atomicdex/models/qt.orderbook.model.hpp
  src/core/atomicdex/models/qt.orderbook.proxy.model.cpp
Labels: 0.5.0, impact_simple_view

#1077 fix(addressbook): Addressbook cfg loading was not working
  src/core/atomicdex/config/addressbook.cfg.cpp
Labels: bug, impact_addressbook

#1141 enhancement(fix_filtering): Fix filtering (SimpleView)
  atomic_defi_design/qml/Exchange/Trade/SimpleView/SubHistory.qml
  atomic_defi_design/qml/Exchange/Trade/SimpleView/SubOrders.qml
Labels: 0.5.0, impact_pro_view, impact_simple_view, impact_ux

#1147 feat(security): seed length was limited by the component length field limit
  atomic_defi_design/qml/Components/DexAppPasswordField.qml
  atomic_defi_design/qml/Components/DexAppTextField.qml
Labels: P0
