Repository KomodoPlatform/komodo-wallet, pull requests merged in 2022-06, with the labels that each got.

#1780 Change Calendar style
  atomic_defi_design/Dex/Components/DatePicker.qml
  atomic_defi_design/Dex/Components/DefaultCalendar.qml
  atomic_defi_design/Dex/Exchange/ProView/TradingInfo/OrdersPage.qml
  atomic_defi_design/Dex/Exchange/Trade/SimpleView/SubHistory.qml
  atomic_defi_design/Dex/Exchange/Trade/SimpleView/SubOrders.qml
Labels: 0.5.6

#1697 Send Modal Fix: Max button does not set correct amount when unconfirmed txes
  atomic_defi_design/Dex/Wallet/SendModal.qml
Labels: Front-end, 0.5.6

#1716 add refund countdown
  atomic_defi_design/Dex/Components/MultipageModalContent.qml
  atomic_defi_design/Dex/Exchange/Trade/ProView.qml
Labels: 0.5.6

#1822 update JPYC, fix JJPY ids
  assets/config/0.5.5.1-coins.json
Labels: Coin Addition
